<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - FamilyFoto</title>
    {% else %}
        <title>Welcome to FamilyFoto</title>
    {% endif %}
    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

</head>
<body>
<div class="navbar">FamilyFoto: <a href="/index">Home</a> <a href="/gallery">Gallery</a>
    <a href="/upload">Upload</a>
    {% if user is defined and user.is_authenticated %}
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
        User:{{ user.username }}
    {% endif %}
</div>
<hr>
{% if e %}
    <div class="alert alert-danger" role="alert">
        {{ e.message }}
    </div>
{% endif %}
{% if w %}
    <div class="alert alert-warning" role="alert">
        {{ w.message }}
    </div>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>