{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Gallery </h1>
                {% for year in years %}
                    <h2>
                        {% if year.year != -1 %}
                            {{ year.year }}
                        {% endif %}
                    </h2>
                    {% for month in year.months %}
                        <h3>{{ month.month_name }}</h3>
                        {% for medium, thumbnail in month.media(200,200) %}
                            {% if link_type == 'preview' %}
                                <a href="{{ medium.image_view }}">
                            {% else %}
                                <a href="{{ medium.url }}">
                            {% endif %}
                        <img src="{{ thumbnail }}"
                             alt="File could not be loaded: {{ medium.filename }}"
                             class="img-thumbnail">
                        </a>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}