{% extends "base.html" %}

{% block content %}
    <h1>Image View </h1>
    <div class="row">
        <div class="col-auto">
            <div class="card">
                {% if photo is not none %}
                    <a href="{{ photo.url }}">
                        <img src="{{ thumbnail }}"
                             alt="File could not be loaded: {{ photo.filename }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Meta Tag</th>
                            <th>Meta Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag, value in photo.meta.items() %}
                            <tr class="{{ loop.cycle('odd', 'even') }}">
                                {% set rowloop = loop %}
                                <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ tag }}</td>
                                <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-auto">
            {% include 'fragments/photo-sharing.html' %}
            <div class="card" id="Public Access">
                <div class="card-body">
                    <h2 class="card-title">Public Access</h2>
                    <form action="" method="post">
                        <div class="form-check">
                            {{ public_form.public }}
                            {{ public_form.public.label }}
                        </div>
                        <p class="align-self-lg-end">
                            {{ public_form.submit(class="btn btn-primary") }}
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}