{% extends "base.html" %}

{% block content %}
    <div class="card col-auto">
        <div class="card-title">
            <h1>Register</h1>
        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>
                    {{ form.password_control.label }}<br>
                    {{ form.password_control(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
{% endblock %}