pip~=21.0
setuptools~=54.1.2
celery~=5.0.5
deprecation~=2.1.0
Email-Validator~=1.1.2
ffmpeg-python~=0.2.0
Pillow~=8.1.2
SQLAlchemy~=1.4.1
Flask~=1.1.2
Flask-DebugToolbar~=0.11.0
Flask-Admin ~= 1.5.7
Flask-API~=2.0
Flask-HTTPAuth~=4.2.0
Flask-Login~=0.5.0
Flask-Migrate~=2.7.0
Flask-Resize~=2.0.4
Flask-SQLAlchemy~=2.4.4
Flask-testing~=0.8.1
Flask-Reuploaded~=0.5.0
#-e git+git://github.com/maxcountryman/flask-uploads.git#egg=flask-uploads
Flask-WTF~=0.14.3
Werkzeug~=1.0.1
WTForms~=2.3.3
prometheus-flask-exporter~=0.18.1
pylint~=2.7.2
pylint-flask~=0.6
pylint-flask-sqlalchemy~=0.2.0
python-resize-image~=1.1.19
pytest~=6.2.2
pytest-cov~=2.11.1
lxml~=4.6.2
